
  
  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(99, 3, 3, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  
  .signup-container input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .signup-container button {
    padding: 0.5rem;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  
  
  .signup-container p {
    margin-top: 1rem;
    text-align: center;
  }
  
  .signup-container a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .signup-container a:hover {
    text-decoration: underline;
  }
  
  .terms {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .terms input {
    margin-right: 0.5rem;
  }
  